streamlit
streamlit-components
pdfplumber
spacy==3.8.7
reportlab
plotly
pandas
# Install spaCy English model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
